<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Contact', contact_path %>
<%= link_to 'Blog', blog_path %>
<%= link_to 'Projects', projects_path %>

<% if current_user %>
  <%= button_to "Sign Out btn", destroy_user_session_path, method: :delete %>
  <%= link_to "Edit Account", edit_user_registration_path %>
<% else %>
  <%= link_to "Register", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>