<% @projects.each do |project| %>
  <p>
    <strong><%#= project.inspect %></strong>
    <strong><%= project.title %></strong>
      -
    <em><%= project.description %></em>
    <%#= "| #{project.percent_complete}" if project.percent_complete != nil %>
    <%= "| #{project.percent_complete}%" if project.percent_complete %>
  </p>
<% end %>