<%= form_for [@project, @task] do |f| %>
  <% if @task.errors.any? %>
    <%= pluralize(@task.errors.count, "error") %> prohibited this project from being saved:

    <% @task.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :completed %>
  <%= f.check_box :completed %>

  <%= f.label "Attachment" %>
  <%= f.file_field :task_file %>

  <%= f.submit %>

<% end %>