@font-face {
  font-family: "Lost Castedral";
  src: url("/assets/Lost_Castedral");
}

body {
  margin: 42px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1 {
  font-family: "Lost Castedral", "Arial Black", Gadget, sans-serif;
  font-size: 3.5em;
}
